.locationTableHeader {
	background: rgba(0, 0, 0, 0.15) !important;
	font-size: 20px;
	font-weight: bold;
	cursor: default !important;
}

.locationsTable {
	margin-bottom: 50px;
}

.headerContainer {
	width: 250px;
}

#locationsTable {
	box-shadow: none !important;
}

.miniSprite3 {
	padding-left: 5px;
	width: 48px;
  	height: 48px;
  	aspect-ratio: auto 48 / 48;
}

.Day {
	background: #FD841F;
}

.Night {
	background: #0C090A;
}

.Surfing {
	background: #0095b6;
}

.Old.Rod {
	background: #327576;
}

.Good.Rod {
	background: #376c80;
}

.Super.Rod {
	background: #143d56;
}
